<p>你如何看待ufo！</p>
        <embed src="http://www.tudou.com/v/Tqa1U1PzJN0/v.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="opaque" width="380" height="400"></embed>
<h1>UFO List！Everyone can watch it!</h1>

<table>
  <tr>
    <th>Name</th>
    <th>地区</th>
    <th>时间</th>
    <th>视频观看</th>
  </tr>
 
  <% @ufos.each do |ufo| %>
  <tr>
    <td><%=ufo.title %></td>
    <td><%=ufo.diqu %></td>  
    <td><%=ufo.time %></td> 
    <td><a href="<%=ufo.url %>" target="blank">请看哦！</a> </td>
  </tr>
<% end %>
</table>

