/* line 7, ../../app/assets/stylesheets/1.scss */
body {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  background-color: #d2c4e6;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #333;
}
/* line 16, ../../app/assets/stylesheets/1.scss */
body #page {
  background-color: #f0f0f0;
  width: 750px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 22, ../../app/assets/stylesheets/1.scss */
body #page #sidebar {
  float: right;
  width: 175px;
}
/* line 25, ../../app/assets/stylesheets/1.scss */
body #page #sidebar ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}
/* line 29, ../../app/assets/stylesheets/1.scss */
body #page #sidebar ul h3 {
  margin-top: 25px;
  font-size: 16px;
  padding-bottom: 10px #4e3274;
  border-bottom: 1px solid #4e3274;
  color: #8b19af;
}
/* line 36, ../../app/assets/stylesheets/1.scss */
body #page #sidebar ul.links li {
  margin-bottom: 5px;
  list-style-type: none;
}
/* line 40, ../../app/assets/stylesheets/1.scss */
body #page #sidebar ul a {
  color: #8b19af;
}
/* line 42, ../../app/assets/stylesheets/1.scss */
body #page #sidebar ul a:hover {
  background-color: #8b19af;
  color: white;
  text-decoration: none;
}
/* line 51, ../../app/assets/stylesheets/1.scss */
body #page #content {
  float: left;
  background-color: white;
  border: 3px solid #8c78a9;
  border-top: none;
  padding: 25px;
  width: 500px;
}
/* line 58, ../../app/assets/stylesheets/1.scss */
body #page #content #header {
  background-repeat: no-repeat;
  background-position: top left;
  height: 64px;
  padding-left: 75px;
  padding-right: 30px;
}
/* line 65, ../../app/assets/stylesheets/1.scss */
body #page #content #header h2 {
  color: #8b19af;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
}
/* line 71, ../../app/assets/stylesheets/1.scss */
body #page #content #header h1 {
  margin: 0;
  color: #8b19af;
}
/* line 76, ../../app/assets/stylesheets/1.scss */
body #page #content #getting-started {
  border-top: 1px solid #ccc;
  margin-top: 25px;
  padding-top: 15px;
  padding-left: 75px;
  padding-right: 30px;
}
/* line 82, ../../app/assets/stylesheets/1.scss */
body #page #content #getting-started h1 {
  margin: 0;
  font-size: 20px;
  color: #8b19af;
}
/* line 87, ../../app/assets/stylesheets/1.scss */
body #page #content #getting-started h2 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  color: #8b19af;
  margin-bottom: 25px;
}
/* line 94, ../../app/assets/stylesheets/1.scss */
body #page #content #getting-started ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}
/* line 98, ../../app/assets/stylesheets/1.scss */
body #page #content #getting-started ul a {
  color: #8b19af;
}
/* line 100, ../../app/assets/stylesheets/1.scss */
body #page #content #getting-started ul a:hover {
  background-color: #8b19af;
  color: white;
  text-decoration: none;
}
/* line 108, ../../app/assets/stylesheets/1.scss */
body #page #content #getting-started li {
  font-size: 13px;
  color: #888;
  margin-bottom: 25px;
  list-style: none;
}
/* line 113, ../../app/assets/stylesheets/1.scss */
body #page #content #getting-started li h2 {
  margin: 0;
  font-weight: normal;
  color: #333;
}
/* line 118, ../../app/assets/stylesheets/1.scss */
body #page #content #getting-started li p {
  color: #555;
  font-size: 13px;
}
