/*
Syntax error: Invalid CSS after "...    font-size: ": expected expression (e.g. 1px, bold), was ";"
        on line 100 of /home/ney/wing_dev/app/assets/stylesheets/application1.scss

95:                                                                    margin-bottom: 25px;
96:                                                                    list-style: none;
97:                                                                    h2 {
98:                                                                         margin: 0;
99:                                                                         font-weight: normal;
100:                                                                         font-size: ;
101:                                                                         color: #333;
102:                                                                       }
103:                                                                    p  {
104:                                                                         color: #555;
105:                                                                         font-size: 13px;

Backtrace:
/home/ney/wing_dev/app/assets/stylesheets/application1.scss:100
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:898:in `expected'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/script/lexer.rb:193:in `expected!'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/script/parser.rb:443:in `assert_expr'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/script/parser.rb:49:in `parse'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:788:in `sass_script'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:662:in `value!'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:639:in `declaration'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:408:in `block in declaration_or_ruleset'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:872:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:872:in `rethrow'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:418:in `declaration_or_ruleset'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:380:in `block_child'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:372:in `block_contents'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:361:in `block'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:355:in `ruleset'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:417:in `block in declaration_or_ruleset'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:872:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:872:in `rethrow'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:418:in `declaration_or_ruleset'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:380:in `block_child'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:372:in `block_contents'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:361:in `block'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:355:in `ruleset'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:417:in `block in declaration_or_ruleset'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:872:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:872:in `rethrow'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:418:in `declaration_or_ruleset'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:380:in `block_child'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:372:in `block_contents'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:361:in `block'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:355:in `ruleset'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:417:in `block in declaration_or_ruleset'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:872:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:872:in `rethrow'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:418:in `declaration_or_ruleset'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:380:in `block_child'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:372:in `block_contents'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:361:in `block'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:355:in `ruleset'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:417:in `block in declaration_or_ruleset'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:872:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:872:in `rethrow'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:418:in `declaration_or_ruleset'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:380:in `block_child'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:372:in `block_contents'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:361:in `block'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:355:in `ruleset'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:417:in `block in declaration_or_ruleset'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:872:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:872:in `rethrow'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:418:in `declaration_or_ruleset'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:380:in `block_child'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:372:in `block_contents'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:361:in `block'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:355:in `ruleset'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:379:in `block_child'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:369:in `block_contents'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:57:in `stylesheet'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:26:in `parse'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:320:in `_to_tree'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:293:in `_render'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:241:in `block in render'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/util.rb:297:in `silence_sass_warnings'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:241:in `render'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `each'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `each'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin.rb:81:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin.rb:54:in `check_for_updates'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin/rack.rb:51:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/warden-1.0.5/lib/warden/manager.rb:35:in `block in call'
/usr/local/lib/ruby/gems/1.9.1/gems/warden-1.0.5/lib/warden/manager.rb:34:in `catch'
/usr/local/lib/ruby/gems/1.9.1/gems/warden-1.0.5/lib/warden/manager.rb:34:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/actionpack-3.1.0.rc8/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/rack-1.3.2/lib/rack/etag.rb:23:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/rack-1.3.2/lib/rack/conditionalget.rb:25:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/actionpack-3.1.0.rc8/lib/action_dispatch/middleware/head.rb:14:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/actionpack-3.1.0.rc8/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/actionpack-3.1.0.rc8/lib/action_dispatch/middleware/flash.rb:243:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/rack-1.3.2/lib/rack/session/abstract/id.rb:195:in `context'
/usr/local/lib/ruby/gems/1.9.1/gems/rack-1.3.2/lib/rack/session/abstract/id.rb:190:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/actionpack-3.1.0.rc8/lib/action_dispatch/middleware/cookies.rb:326:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/activerecord-3.1.0.rc8/lib/active_record/query_cache.rb:62:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/activerecord-3.1.0.rc8/lib/active_record/connection_adapters/abstract/connection_pool.rb:477:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/actionpack-3.1.0.rc8/lib/action_dispatch/middleware/callbacks.rb:29:in `block in call'
/usr/local/lib/ruby/gems/1.9.1/gems/activesupport-3.1.0.rc8/lib/active_support/callbacks.rb:392:in `_run_call_callbacks'
/usr/local/lib/ruby/gems/1.9.1/gems/activesupport-3.1.0.rc8/lib/active_support/callbacks.rb:81:in `run_callbacks'
/usr/local/lib/ruby/gems/1.9.1/gems/actionpack-3.1.0.rc8/lib/action_dispatch/middleware/callbacks.rb:28:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/actionpack-3.1.0.rc8/lib/action_dispatch/middleware/reloader.rb:68:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/rack-1.3.2/lib/rack/sendfile.rb:101:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/actionpack-3.1.0.rc8/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/actionpack-3.1.0.rc8/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/railties-3.1.0.rc8/lib/rails/rack/logger.rb:13:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/rack-1.3.2/lib/rack/methodoverride.rb:24:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/rack-1.3.2/lib/rack/runtime.rb:17:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/activesupport-3.1.0.rc8/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/rack-1.3.2/lib/rack/lock.rb:15:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/actionpack-3.1.0.rc8/lib/action_dispatch/middleware/static.rb:53:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/railties-3.1.0.rc8/lib/rails/engine.rb:455:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/railties-3.1.0.rc8/lib/rails/rack/content_length.rb:16:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/railties-3.1.0.rc8/lib/rails/rack/log_tailer.rb:14:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/rack-1.3.2/lib/rack/handler/webrick.rb:59:in `service'
/usr/local/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/usr/local/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/usr/local/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...    font-size: \": expected expression (e.g. 1px, bold), was \";\"\A         on line 100 of /home/ney/wing_dev/app/assets/stylesheets/application1.scss\A \A 95:                                                                    margin-bottom: 25px;\A 96:                                                                    list-style: none;\A 97:                                                                    h2 {\A 98:                                                                         margin: 0;\A 99:                                                                         font-weight: normal;\A 100:                                                                         font-size: ;\A 101:                                                                         color: #333;\A 102:                                                                       }\A 103:                                                                    p  {\A 104:                                                                         color: #555;\A 105:                                                                         font-size: 13px;"; }
