/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
/* line 9, ../../app/assets/stylesheets/application.scss */
body {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #333;
}

/* line 19, ../../app/assets/stylesheets/application.scss */
h1 {
  font-size: 28px;
  color: #8b19af;
}

/* line 23, ../../app/assets/stylesheets/application.scss */
h3 {
  color: #8b19af;
}

/* line 27, ../../app/assets/stylesheets/application.scss */
a {
  color: #03c;
}

/* line 32, ../../app/assets/stylesheets/application.scss */
a:hover {
  background-blor: #8b19af;
  color: white;
  text-decoration: none;
}

/* line 40, ../../app/assets/stylesheets/application.scss */
#page {
  width: 750px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

/* line 48, ../../app/assets/stylesheets/application.scss */
#content {
  float: left;
  border: 3px solid #8c78a9;
  border-top: none;
  padding: 25px;
  width: 500px;
}

/* line 57, ../../app/assets/stylesheets/application.scss */
#sidebar {
  float: right;
  width: 175px;
}

/* line 63, ../../app/assets/stylesheets/application.scss */
#footer {
  clear: both;
}

/* line 67, ../../app/assets/stylesheets/application.scss */
#header, #getting-started {
  padding-left: 75px;
  padding-right: 30px;
}

/* line 73, ../../app/assets/stylesheets/application.scss */
#header {
  background-repeat: no-repeat;
  background-position: top left;
  height: 64px;
}

/* line 78, ../../app/assets/stylesheets/application.scss */
#header h1, #header h2 {
  margin: 0;
}

/* line 79, ../../app/assets/stylesheets/application.scss */
#header h2 {
  color: #888;
  font-weight: normal;
  font-size: 16px;
}

/* line 84, ../../app/assets/stylesheets/application.scss */
#getting-started {
  border-top: 1px solid #ccc;
  margin-top: 25px;
  padding-top: 15px;
  background-color: white;
}

/* line 90, ../../app/assets/stylesheets/application.scss */
#getting-started h1 {
  margin: 0;
  font-size: 20px;
}

/* line 94, ../../app/assets/stylesheets/application.scss */
#getting-started h2 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  margin-bottom: 25px;
}

/* line 101, ../../app/assets/stylesheets/application.scss */
#getting-started ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

/* line 106, ../../app/assets/stylesheets/application.scss */
#getting-started li {
  font-size: 13px;
  color: #888;
  margin-bottom: 25px;
  list-style: none;
}

/* line 112, ../../app/assets/stylesheets/application.scss */
#getting-started li h2 {
  margin: 0;
  font-weight: normal;
  color: #333;
}

/* line 118, ../../app/assets/stylesheets/application.scss */
#getting-started li p {
  color: #555;
  font-size: 13px;
}

/* line 124, ../../app/assets/stylesheets/application.scss */
#sidebar ul {
  margin-left: 0;
  padding-left: 0;
}

/* line 129, ../../app/assets/stylesheets/application.scss */
#sidebar ul h3 {
  margin-top: 25px;
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

/* line 136, ../../app/assets/stylesheets/application.scss */
#sidebar li {
  list-style-type: none;
}

/* line 139, ../../app/assets/stylesheets/application.scss */
#sidebar ul.links li {
  margin-bottom: 5px;
}

/* line 143, ../../app/assets/stylesheets/application.scss */
.filename {
  font-style: italic;
}
