@import blueprint
@import "blueprint/colors"
@import "blueprint/grid"
@import "blueprint/fancy-type"
@import "blueprint/typography"
@import "compass/typography/links/link-colors"
@import "blueprint/link-icons"

$blueprint-background-color: #d2c4e6
$link-color: #0066cc
$link-hover-color: #0099ff
$link-focus-color: $link-hover-color
$link-active-color: lighten(adjust-hue($link-color, 75deg), 10%)
$link-visited-color: darken($link-color, 10%)
body
  background-color: $blueprint-background-color
  .page
    +container
    +blueprint-typography(true)
    background-color: white
    #footer,#header
      +column(24)
    #header
      +append-bottom()
      background-image: url("/assets/nav_wood.png")
      background-repeat: repeat-x
      background-position: top left
    #footer
      background-color:white
    #sidebar
      +column(8,true)
      +prepend(16)
      +push(3)
    #content
      +column(16)
      +pull(23,true)
      +append-bottom()
      
    
  

    
     
 




 

