<img src="/assets/maoxianjia.jpg" />
<h1>星星点灯耀黎明：</h1>

<p>我们生活在二元性的世界，如果一切都是光与爱，我们就不会走向全球三分之二的人口将被消灭的法西斯的道路，这不是光与爱，在这里，毫无疑问某些族类正在压榨我们。勇士的真正含义就是不要害怕你是谁。为种族的自由负起责任，培养真正的自信，自由地无条件地去承担自己的责任，而无需屈服于强权。<br />

——（阿历克斯.科利尔）</p>

<p>然而作为一个能够预知未来的先知，他往往总是这么说的：听好，如果我们不醒悟过来，不去做点什么的话，那么事情就无法挽回了。先知们之所以发出这警告，并不在于吓唬人们一切已成定局，而是想告诉人们必须要有所改变： 去改变你做事的方式，改变你自身，去改变你待人接物和的处事的态度。 无论你作出了什么改变，它的目的都是为了改变未来。<br />
——（比尔.瑞恩）</p>

<p>我把这些资料给了世人，希望有人有勇气和渠道来帮助我和这一疯狂的行为。光明会（新世界秩序）完全统治了这个世界的绝大部分，他们公然的向全部民族的总人口发动了战争。我们要不惜一切代价阻止他们。请帮助我因为我无法独自一人完成。<br />
——（威廉.库珀）</p>

<p>我没有“正常”的生活。我生活在一个98%的人口仍然活在一种被人工建造的，类似于睡眠的意识形态的“儿童”的世界里。每一天，人们都在放弃他们的健康、他们的自由、和他们的灵魂给予这个世界的神——路西佛，这里没有“正常”的生活。我有的只是神的爱、我的家庭的爱、以及对神所赐予我的生命的爱，这已经够了。<br />
——（米迦勒.Relfe）</p>
　
<p>“我是一名突击队员，和在我之前的那些突击队员兄弟一样。我为我能够作为空军特种作战总部的一员被载入历史而自豪，我骄傲地行走过我头顶的天空，我的心和我的态度都在显示我忠于上帝、祖国、和我的同志们，即使没有能力再走一步，我仍然希望再走一英里。我的目标与自由相随，我愿意和空军特种作战总部一起，迈向这令我骄傲的命运。”<br /
>——（杜尔塞战争全体勇士的座右铭）</p>

<p>我想使所有那些配得上的勇敢的真相探索者知道，他们已经用如此辽阔而又慷慨的胸襟，增益了这项事业。即使仍未达至这一点，我将乐意给你这个机会，你应该会比其他人更加清楚地明白，那只不过表明像我们这样一个行星，她正经历一个借由我们的奋斗而赢回的，使之从干预者的压迫里解放出来的自由里。<br />
——布兰顿（Branton）</p>

<p>这种根植深扎在我们生活中的控制体系的活动必须停止。人类站起来吧！我们要在根本上影响我们的事情下聚在一起，团结起来，那就是反抗一切摧毁人类自由的控制体系。这是个奴役我们所有人类的巨大阴谋。如果我们不团结起来，如果我们允许自己被分而治之，那么新时代的转变，总之，转变的本质远比它所是的更具有挑战性，更艰难。<br />
——（大卫.爱克）</p>

<p>我折断了我的安全卡将它返还给政府，并告诉他们：如果我再受到威胁，而我一直都在，那我就将有关政府结构和整个计划的140000页的文件上传到互联网。我已经开始做这项工作。我不是一个很好的演讲者，但我会继续，直到某人用子弹来结束我，因为它是值得去揭露的，就是关于这些暴行。<br />
——（菲尔.施奈德）</p>
   
