<!DOCTYPE html>
<html>
<head>
  <title>WingDev</title>
  <%= stylesheet_link_tag "application" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div id="page">
      
       <div id="sidebar">
        <ul id="sidebar-items">
          <li>
            <h3>Browse the documentation</h3>
            <ul class="links">
              <li><a href="http://guides.rubyonrails.org/">Rails Guides</a></li>
              <li><a href="http://api.rubyonrails.org/">Rails API</a></li>
              <li><a href="http://www.ruby-doc.org/core/">Ruby core</a></li>
              <li><a href="http://www.ruby-doc.org/stdlib/">Ruby standard library</a></li>
            </ul>
          </li>
          <li>
            <h3>My sites</h3>
            <ul class="links">
              <li><a href="http://0.0.0.0:3000/">Home</a></li>
              <li><a href="#">Books</a></li>
              <li><a href="#">Musics</a></li>
              <li><a href="#">Masters</a></li>
              <li><a href="#">Paintings</a></li>
              <li><a href="#">Poems</a></li>
              <li><a href="ufo/index">UFOs</a></li>
           </ul>
          </li>
         </ul>
      </div>

      
      <div id="content">
        <div id="header">
          <h1>Welcome Wingflying!</h1>
          <h2></h2>
        </div>

        <div id="about">
        
        </div>

        <div id="getting-started">
          <%= yield %> 
        </div>
      </div>

      <div id="footer">&nbsp;</div>
    </div>
</body>
</html>
